<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: left;">BACK</a>
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <div class="image_header" style="margin: auto;">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>
                <a href="https://v2.zopim.com/widget/livechat.html?key=4EUlI6cuYHKKYy7MRbJs2FL8EdPFQrrS" target="_blank">
                    <div class="button_text">
                        chat with an agent
                    </div>
                </a>
        </div>
</body>

</html>