<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>

    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <a href="/ssense/return_instructions/" class="nav_button" style="float: left;">BACK</a>
        <div class ="image_header">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>

        
        <div class="blurb_text">
        <span style="margin: auto;">Exchanges</span>
        
        <p>
        SSENSE does not offer direct exchanges. We ask that you return the merchandise for a full refund and place a new order for the preferred item(s) at your earliest convenience. To return the merchandise access our Order History page linked below.
        
        </div>
        <a href="https://www.ssense.com/en-ca/account/login">
            <div class="button_text returns_button">
                ORDER HISTORY
            </div>
        </a>

        <a href="/ssense/customer_care_live_chat/">
            <div class="button_text returns_button">
                CUSTOMER CARE & LIVE CHAT
            </div>
        </a>


<!-- 
                <a href="https://m.me/GrooveLife.co">
                <div class="button_text">
                    MESSAGE US ON FACEBOOK
                </div>
                </a> -->
    </div>

</body>
</html>