<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>

    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <a href="/ssense/return_instructions/" class="nav_button" style="float: left;">BACK</a>
        <div class ="image_header">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>
        <div class="blurb_text">
            <span style="margin: auto;">From a guest checkout</span>
        <p>
        If an order was placed using the guest check out option, please create an SSENSE account through our Order History page linked below to request and manage the return using our self-service options.
        
        </div>
        <a href="https://www.ssense.com/en-ca/account/login">
            <div class="button_text">
                ORDER HISTORY
            </div>
        </a>

        <a href="/ssense/customer_care_live_chat/">
            <div class="button_text">
                CUSTOMER CARE & LIVE CHAT
            </div>
        </a>


    </div>

</body>
</html>