<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>SSENSE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <a href="/ssense/" class="nav_button" style="float: left;">BACK</a>
        <div class="image_header" style="margin: auto;">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>
        <div class="form_wrapper">
            <span>order status</span>
            <p>
                <form>
                    <span>order number<span style="color:red;">*</span></span><br>
                    <input type="text" placeholder="order number">
                    <p>
                    <span>email<span style="color:red;">*</span></span>
                    <input type="text" placeholder="email">
                </form>
                <a>
                    <div class="button_text">
                        submit
                    </div>
                </a>
        </div>
</body>

</html>