<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <div class="wrapper">
        <a href="/ssense/return_instructions/" class="nav_button" style="float: left;">BACK</a>
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <div class="image_header" style="margin: auto;">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>
        <div class="blurb_text">
            <p>
                International customers (excluding those in Japan) are responsible for covering the cost of return shipments and coordinating the return with their local post.
                <p>
                    Please follow this step-by-step guide to initiate a return request:
                    <ol>
                        <li>Log into your SSENSE account and access your Order History</li>
                        <li>Request a return authorization (RA)</li>
                        <li>An RA number and return instructions will be sent to the e-mail address associated with the order.</li>
                        <li>Follow the instructions and coordinate the return with your local postal service.</li>
                    </ol>
                    <p>
                        Please ship returning international packages with your country/regions local shipping carrier and be sure to use standard shipping. For added safety, please insure all packages with a tracking number.
                        <p>
                            <em>Please note that when returning products that contain alcohol (such as fragrances) or batteries, a customer experience agent will be in touch with you within one business day to advise you on necessary shipping instructions and required documentation.</em>
        </div>
        <a href="https://www.ssense.com/en-ca/account/login">
             <div class="button_text returns_button">
                ORDER HISTORY
            </div>
        </a>
        <a href="/ssense/customer_care_live_chat/">
             <div class="button_text returns_button">
                CUSTOMER CARE & LIVE CHAT
            </div>
        </a>
        <!-- 
                <a href="https://m.me/GrooveLife.co">
                <div class="button_text">
                    MESSAGE US ON FACEBOOK
                </div>
                </a> -->
    </div>
</body>

</html>