<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: left;">BACK</a>
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <div class="image_header">
            <img src="/ssense_logo.png">
        </div>
        <div class="form_wrapper">
            <span style="margin-bottom: 50px;">price protection</span>
            <p>
                <form>
                    <span style="font-size: 0.75rem;">order number<span style="color:red;">*</span></span>
                    <input type="text" placeholder="order number">
                    <span style="font-size: 0.75rem;">email<span style="color:red;">*</span></span>
                    <input type="text" placeholder="email">
                </form>
                <a>
                    <div class="button_text">
                        submit
                    </div>
                </a>
        </div>
</body>

</html>