<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>

    <div class="wrapper">
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <a href="/ssense/" class="nav_button" style="float: left;">BACK</a>
        
        <div class ="image_header">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>

                <a href="/ssense/us_canada_japan/">
                <div class="button_text">
                    CANADA, UNITED STATES AND JAPAN
                </div>
                </a>

                <a href="/ssense/other_countries/">
                <div class="button_text">
                    ALL OTHER COUNTRIES
                </div>
                </a>

                <a href="/ssense/guest_checkout/">
                <div class="button_text">
                    GUEST CHECKOUT
                </div>
                </a>

                <a href="/ssense/exchanges/">
                <div class="button_text">
                    EXCHANGES
                </div>
                </a>

                <a href="/ssense/return_policy/">
                <div class="button_text">
                    RETURN POLICY GUIDELINES
                </div>
                </a>

                <a href="/ssense/refund_status/">
                <div class="button_text">
                    REFUND STATUS
                </div>
                </a>


<!-- 
                <a href="https://m.me/GrooveLife.co">
                <div class="button_text">
                    MESSAGE US ON FACEBOOK
                </div>
                </a> -->
    </div>

</body>
</html>