<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <div class="wrapper">
        <a href="/ssense/return_instructions/" class="nav_button" style="float: left;">BACK</a>
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        <div class="image_header" style="margin: auto;">
            <a href="http://www.ssense.com">
                <img src="/ssense_logo.png">
            </a>
        </div>
        <div class="blurb_text">
            Return Policy Guidelines
            <p>
                    <ul>
                        <li>The return must be requested within 30 days of the delivery date</li>
                        <li>The item must be in its original, unused, unaltered and unwashed condition</li>
                        <li>The item must be returned with the tags and packaging in their original condition</li>
                    </ul>
            <p>
            <em>Please note: Final Sale items and Face Masks are not eligible for return</em>
        </div>
        <a href="/ssense/customer_care_live_chat/">
             <div class="button_text returns_button">
                CUSTOMER CARE & LIVE CHAT
            </div>
        </a>

    </div>
</body>

</html>