<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
<title>SSENSE</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>

    <div class="wrapper">
        {% if last_page is not none %}
        <a href="/ssense/{{last_page}}/" class="nav_button" style="float: left;">BACK</a>
        <a href="/ssense/" class="nav_button" style="float: right;">HOME</a>
        {% endif %}
        <div class ="image_header">
            <a href="http://www.ssense.com">
                <img src="./ssense_logo.png">
            </a>
        </div>
        {% block content %}
        {% endblock %}
        {% for k in buttons %}
            {% if "http" in buttons[k] %}
                <a href="{{buttons[k]}}">
            {% else %}
                <a href="/ssense/{{buttons[k]}}/">
            {% endif %}
            <div class="button_text">
                {{ k.upper() }}
            </div>
        </a>
        {% endfor %}
    </div>

</body>
</html>