{% extends "ssense_demo/template.html" %}
{% block content %}
<div class="blurb_text">
<p>
Customers located in Canada, the United States and Japan receive free shipping for returns.
<p>
Please follow this step-by-step guide to initiate a return request:
<ol>
    <li>Log into your SSENSE account and access your Order History (linked below)</li>
    <li>Request a prepaid return label (PPL)</li>
    <li>Your PPL and return instructions will be sent to the e-mail address associated with the order.</li>
    <li>Print the label out and carefully follow the instructions</li>
</ol>

<em>Please note that when returning products that contain alcohol (such as fragrances) or batteries, a customer experience agent will be in touch with you within one business day to advise you on necessary shipping instructions and required documentation.</em>
</div>
<a href="https://www.ssense.com/en-ca/account/login">
    <div class="button_text returns_button">
        <span>ORDER HISTORY</span>
    </div>
</a>

<a href="/ssense/customer_care_live_chat/">
     <div class="button_text returns_button">
        CUSTOMER CARE & LIVE CHAT
    </div>
</a>
{% endblock %}