{% extends "shift_template.html" %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="FrontChat('show');">Chat with us</span>
{% endblock %}

{% block button_script %}
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
            
</script>
<script>
FrontChat('show');
    $(document).ready(function(){
        FrontChat('show');

    });


</script>
{% endblock %}