{% extends "shift_template.html" %}
{% block chat_script %}
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="tidioChatApi.open()">Chat with us</span>
{% endblock %}

{% block button_script %}
<script async="" src="//code.tidio.co/qvsbbiukupq9srojkz0ckj6qufhysvrb.js"></script>
                <script type="text/javascript">
                    (function() {
                      function onTidioChatApiReady() {
                        window.tidioChatApi.open();
                      }
                      if (window.tidioChatApi) {
                        window.tidioChatApi.on("ready", onTidioChatApiReady);
                      } else {
                        document.addEventListener("tidioChat-ready", onTidioChatApiReady);
                      }
                    })();
                </script>
{% endblock %}