{% extends "shift_template.html" %}
{% block chat_script %}
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="Intercom('showNewMessage');return false;">Chat with us</span>
{% endblock %}


{% block button_script %}
<script>
window.intercomSettings = {
app_id: "bc61mu8p"
};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/wn222jss';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<script>Intercom('show');
</script>

{% endblock %}