{% extends "shift_template.html" %}
{% block chat_script %}
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="FrontChat('show');">Chat with us</span>
{% endblock %}

{% block button_script %}
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
            <script>
              window.FrontChat('init', {chatId: '5d55a6e3a07b100840928c74d10c5d50', useDefaultLauncher: true});        
            </script>
            <script>
                FrontChat('show');
                    $(document).ready(function(){
                    FrontChat('show');

                });

        
            </script>
{% endblock %}