{% extends "shift_template.html" %}
{% block chat_script %}
<!-- Start of endy Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e87c643e-b914-44c4-8fd6-5139ca8e2344"></script>
<!-- End of endy Zendesk Widget script -->
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<script type="text/javascript">

    $(document).ready(function(){
        zE(function(){
        $zopim(function(){

            $zopim.livechat.setOnConnected(function() {

                $zopim.livechat.window.show();
            });                                    
        });
        });
    });

</script>

<script type="text/javascript">
    zE('webWidget', 'setLocale', 'fr');
    window.zESettings = {
    webWidget: {
        chat: {
        prechatForm: {
            greeting: {
            '*': 'Hi there, thanks for visiting Endy! Please provide your name and email address, then let us know what can we help you with :)',
            fr: "S'il vous plaît remplir le formulaire ci-dessous pour discuter avec nous"
            }
        }
        }
    }
    };
</script>
{% endblock %}