{% extends "shift_template.html" %}
{% block chat_script %}
<!-- Start of Feelgoodz Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=91e92669-4ddb-4b02-92d4-ef79655b60de"></script>
<!-- End of Feelgoodz Zendesk Widget script -->
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<script type="text/javascript">

$(document).ready(function(){

    window.zESettings = {
        webWidget: {
        helpCenter: {
            suppress: true
        }
        }
    };



    zE(function(){
    $zopim(function(){

        $zopim.livechat.setOnConnected(function() {

            $zopim.livechat.button.setPositionMobile('bl');

            $zopim.livechat.window.show();
        });                                    
    });
    });
});


</script>
{% endblock %}