{% extends "shift_template.html" %}
{% block chat_script %}
<!-- Start of ISTS Zendesk Widget script -->

    <script id="ze-snippet" src=https://static.zdassets.com/ekr/snippet.js?key=44687aa5-37de-4403-9b5e-2d91b1498ee0> </script>

<!-- End of ISTS Zendesk Widget script -->
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<script type="text/javascript">

    $(document).ready(function(){
        window.zESettings = {
            webWidget: {
                chat: {
                departments: {
                    select: 'Scholarship, Grant or Loan'
                }
                }
            }
            };
        zE(function(){
        $zopim(function(){

            $zopim.livechat.setOnConnected(function() {

                $zopim.livechat.window.show();
            });                                    
        });
        });
    });


</script>
{% endblock %}