{% extends "shift_template.html" %}
{% block chat_script %}
<script type="text/javascript" async="" src="https://js.driftt.com/include/1592409000000/4szn78semp8x.js"></script>
<!-- Start of Async Drift Code --> 
<script> 
"use strict"; 

!function() { 
var t = window.driftt = window.drift = window.driftt || []; 
if (!t.init) { 
if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice.")); 
t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
t.factory = function(e) { 
return function() { 
var n = Array.prototype.slice.call(arguments); 
return n.unshift(e), t.push(n), t; 
}; 
}, t.methods.forEach(function(e) { 
t[e] = t.factory(e); 
}), t.load = function(t) { 
var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script"); 
o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js"; 
var i = document.getElementsByTagName("script")[0]; 
i.parentNode.insertBefore(o, i); 
}; 
} 
}(); 
drift.SNIPPET_VERSION = '0.3.1'; 
drift.load('4szn78semp8x'); 
</script> 
<!-- End of Async Drift Code -->
<!-- place this script tag after the Drift embed tag -->
<script>
  (function() {
    /* Add this class to any elements you want to use to open Drift.
     *
     * Examples:
     * - <a class="drift-open-chat">Questions? We're here to help!</a>
     * - <button class="drift-open-chat">Chat now!</button>
     *
     * You can have any additional classes on those elements that you
     * would ilke.
     */
    var DRIFT_CHAT_SELECTOR = '.drift-open-chat'
    /* http://youmightnotneedjquery.com/#ready */
    function ready(fn) {
      if (document.readyState != 'loading') {
        fn();
      } else if (document.addEventListener) {
        document.addEventListener('DOMContentLoaded', fn);
      } else {
        document.attachEvent('onreadystatechange', function() {
          if (document.readyState != 'loading')
            fn();
        });
      }
    }
    /* http://youmightnotneedjquery.com/#each */
    function forEachElement(selector, fn) {
      var elements = document.querySelectorAll(selector);
      for (var i = 0; i < elements.length; i++)
        fn(elements[i], i);
    }
    function openSidebar(driftApi, event) {
      event.preventDefault();
      driftApi.sidebar.open();
      return false;
    }
    ready(function() {
      drift.on('ready', function(api) {
        var handleClick = openSidebar.bind(this, api)
        forEachElement(DRIFT_CHAT_SELECTOR, function(el) {
          el.addEventListener('click', handleClick);
        });
      });
    });
  })();
</script>
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" class="drift-open-chat">Chat with us</span>
{% endblock %}

{% block button_script %}
<script>
    $(window).on('load', function() {

    setTimeout(
        function() 
        {$("drift-chat-link-chatdesk").trigger('click');}, 800);});
        
</script>
{% endblock %}