{% extends "shift_template.html" %}
{% block button_code %}
<a id="email_link" href="mailto:support@moo.com?subject=Sales%20request" style="text-decoration:none;"><span style="{{ button_style }}"> Email us </span></a>
{% endblock %}