{% extends "shift_template.html" %}
{% block chat_script %}
<!-- Start of Noom Zendesk Widget script -->

    <script type='text/javascript' id='noom-support-zendesk-js-js'>
    (function ($) {

    function showChatSupportButton() {
    zE('webWidget', 'hide');
        $("#chat-support").animate({bottom:"+=100px"}, "slow"); 
    }

    function hideChatSupportButton() {
        $("#chat-support").animate({bottom:"-=100px"}, "slow"); 
    }

    var waitForZopim = setInterval(function () {
        if (window.$zopim === undefined || window.$zopim.livechat === undefined) {
            return;
        }
        $zopim(function() {


            /** Zendesk: Hiding Zendesk Chat support widget **/
            zE('webWidget', 'hide');

            /** Noom: Showing Noom Chat support **/
            showChatSupportButton();

            /** Mixpanel: Tracking support button displayed **/
            mixpanel.track("HelpPageZendeskWidgetDisplayed");

            /** Noom: Showing Zendesk Chat on support button click **/
            $( "#chat-support" ).on( "click", function (e) {

                /** Mixpanel: Tracking support button click **/
                mixpanel.track("HelpPageZendeskWidgetClicked");

                /** Zendesk: Showing Zendesk Chat support widget **/
                zE('webWidget', 'show');
                
                /** Zendesk: Opening Zendesk Chat support **/
                zE('webWidget', 'open');
            });

            /** Zendesk: Setting up call-backs when closing/opening Zendesk chat support **/
            zE('webWidget:on', 'close', showChatSupportButton);
            zE('webWidget:on', 'open', hideChatSupportButton);

        });
        clearInterval(waitForZopim);
    }, 100);

    })
        

    </script>
    <!-- End of Noom Zendesk Widget script -->
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<!-- Start of noom Zendesk Widget script -->
            <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=999f88cf-e4df-4488-841f-6e61f3cb60c4"> </script>
            <script type="text/javascript">zE('webWidget', 'hide');</script>
            <script type="text/javascript">
                window.zESettings = { 
                    webWidget: { 
                        chat: { 
                            departments: { 
                                enabled: ['Billing Support', 'Coaching Support', 
                                'Registration Support', 'Technical Support', 'Other', 'Add On Support'] 
                            } 
                        } 
                    } 
                };

                zE(function(){
                    $zopim(function(){

                        $zopim.livechat.setOnConnected(function() {

                            $zopim.livechat.button.setPositionMobile('br');
                            $zopim.livechat.window.show();
                        });  
                    });
                });
            </script>
{% endblock %}