<html>
<head>
<style>
    body {
        font-family:'Arial';
        font-size:20px;
    }

    span.chat-button {
        padding:20px;
        margin:20px;
        width:150px;
        border-radius: 10px;
        cursor:pointer
    }

    img {
        max-width:300px;
        margin-top:70px;
        margin-bottom:40px
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block chat_script %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page_title }}</title>
</head>
<body>
    <center>
    <p>
    <a href="{{ company_url }}">
        <img src='/static/images/{{ logo_file }}'>
    </a>
    </p>
    <div>
    {% block button_code %}
    {% endblock %}
    </div>
    {% block button_script %}
    {% endblock %}
</center>
</body>
</html>