{% extends "shift_template.html" %}
{% block chat_script %}
<script>window.richpanel||(window.richpanel=[]),window.richpanel.q=[],mth=["track","debug","atr"],sk=function(e){return function(){a=Array.prototype.slice.call(arguments),a.unshift(e),window.richpanel.q.push(a)}};for(var i=0;mth.length>i;i++)window.richpanel[mth[i]]=sk(mth[i]);window.richpanel.load=function(e){var i=document,n=i.getElementsByTagName("script")[0],r=i.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://api.richpanel.com/v2/j/"+e+"?version=2.0.0",n.parentNode.insertBefore(r,n)},window.richpanel.ensure_rpuid="",richpanel.load("thinx4022"),richpanel.track("page_view");
</script>
{% endblock %}

{% block button_code %}
<a id="rp-home">
    <span class="chat-button" style="{{ button_style }}">Chat with us</span>
</a>
{% endblock %}

{% block button_script %}
<script>
    $(window).on('load', function() {

        setTimeout(
          function() 
          {$("#chat-button").trigger('click');}, 1000);});
  
</script>
{% endblock %}