{% extends "shift_template.html" %}
{% block chat_script %}
<script src="https://wchat.freshchat.com/js/widget.js"></script>
{% endblock %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<script>
    window.fcWidget.init({
    token: "c74bac7c-8731-4718-9626-5aaa93a37ddb",
    host: "https://wchat.freshchat.com"
    });

    function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
    
    window.fcWidget.user.setProperties({"Source": "Chatdesk"});

    window.fcWidget.open();
    window.fcWidget.show();
</script>
{% endblock %}