{% extends "shift_template.html" %}
{% block chat_script %}
<!-- Start of chatdesk Zendesk Widget script -->
    <script type="text/javascript" id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={}"> </script>
    <script src="https://v2.zopim.com/?6KVETGhtgvVs2QIysISvvNHpyqylt4mE"></script>
<!-- End of chatdesk Zendesk Widget script -->
{% endfor %}

{% block button_code %}
    <span class="chat-button" style="{{ button_style }}" onclick="$zopim.livechat.window.show();">Chat with us</span>
{% endblock %}

{% block button_script %}
<script type="text/javascript">

    $(document).ready(function(){
        zE(function(){
        $zopim(function(){

            $zopim.livechat.setOnConnected(function() {

            // Hide the Drop-down list option in the Pre-Chat Form to select the Department 
            //                                   
            $zopim.livechat.departments.filter('');

            // Automatically set the Department 
            //                                    
            $zopim.livechat.departments.setVisitorDepartment('Fossil eCom');

            $zopim.livechat.window.show();
            });                                    
        });
        });
    });
</script>
{% endblock %}