body {

            /*text-align: center;*/
        }

        html {
            font-family: "Lato", sans-serif;

        }

        img {
            width:auto;
        }

        form {
             padding-top:15px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        input {
            width: 100%;
            padding: 5px;
            margin-bottom:20px ;
            margin-top: 5px;
        }

        .nav_button {
            font-size: 0.675rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .image_header {
            padding-top: 10%;
            margin: auto;
            text-align: center;
            padding-bottom: 30px;
        }

        .wrapper {
            max-width: 500px;
            padding-top: 10%;
            margin: auto;
            vertical-align: middle;
            padding-right: 1.5625rem;
            padding-left: 1.5625rem;

        }

        .form_wrapper {
            max-width: 500px;
            padding-top: 1.5rem;
            vertical-align: middle;
            font-size: 0.75rem;
            letter-spacing: 1px;
            text-transform: uppercase;

        }

        .form_label {
            margin-bottom: 50px;
        }

        .form_sublabel {
            font-size: 0.75rem;
        }

        .blurb_text {
            text-align: left;
            vertical-align: top;
            font-family: "Lato", sans-serif;
            font-size: 0.8rem;
            letter-spacing: 0px;
            padding-bottom: 25px;
        }

        .button_text {

            padding: 5px;
            margin: auto;
            margin-bottom: 0.5rem;
            max-width: 500px;

            text-align: center;
            color: #fff;
            background-color:rgb(0, 0, 0);
            
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 0.675rem;
            line-height: 1.25rem;

            transition: all 0.25s;
        }

        .return_button {
            background-color:#b6b6b6;"
        }

        .button_text:hover {
            opacity: 0.6;
        }